* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header nav {
  display: flex;
  justify-content: center;
  gap: 10%;
  align-items: center;
  width: 100%;
  position: fixed;
  left: 0;
  right: 0;
}

header a {
  text-decoration: none;
  color: inherit;
}

/* about */
.about {
  padding: 80px 0 40px;
}

h2 {
  text-align: center;
  font-weight: normal;
  padding-bottom: 40px;
}

.about img {
  width: 100%;
  object-fit: cover;
}

h1 {
  text-align: center;
  padding: 40px 0;
}

p {
  padding: 0 20%;
  margin-bottom: 40px;
}

.article {
  background: lightgray;
  max-width: 940px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 20px;
  gap: 20px;
}

.educational {
  padding-bottom: 40px;
}

.educational p {
  margin: 0;
  text-decoration: underline;
}

.article div {
  background: white;
}

.article ul {
  list-style: none;
  display: flex;
  gap: 10%;
  justify-content: center;
}

.article img {
  width: 100%;
  max-width: 150px;
  height: auto;
  aspect-ratio: 1 / 1;
  border-radius: 50%;
}

.article p {
  text-align: center;
}

/* footer */
footer {
  padding-top: 30px;
  background: lightgray;
}

footer div {
  padding: 0 70px;
  display: flex;
  flex-direction: column;
}

footer a {
  padding: 16px 0;
  color: inherit;
  text-decoration: none;
}

small {
  padding-top: 20px;
  text-align: center;
  display: block;
}

@media (max-width:400px) {
  .article ul {
    flex-direction: column;
  }

  .article img {
    display: block;
    margin: 0 auto;
  }
}